#{{ ansible_managed }}
user              {{ nginx_uid }} {{ nginx_gid }};

worker_processes  {{ nginx_worker_processes }};
pid        /var/run/nginx.pid;


events {
	worker_connections  {{ nginx_max_clients }};
}


http {
	ssl_protocols {{ nginx_ssl_protocols }};
	include {{ nginx_config_dir }}/mime.types;
	default_type {{ nginx_default_type }};

	types_hash_max_size 2048;
	server_names_hash_bucket_size 64;

	access_log {{ nginx_log_dir}}/{{ nginx_access_log_name}};
	error_log {{ nginx_log_dir}}/{{ nginx_error_log_name}};

{% for k,v in nginx_http_params.iteritems() %}
	{{ k }} {{ v }};
{% endfor %}

	include {{ nginx_config_dir }}/conf.d/*.conf;
	include {{ nginx_config_dir }}/sites-enabled/*;
}
{% if nginx_mail_params is defined and nginx_mail_servers is defined %}
include {{ nginx_config_dir }}/mail.conf;
{% endif %}
